
  .px-80 {
    padding: 0 80px;
  }
  
  iframe {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    height: 170px;
  }
  
  .card-text {
    margin-bottom: 10px !important;
  }
  
  .icon {
    margin-right: 15px;
  }
  
  .icon img {
    margin-right: 4px;
  }
  


  
  .form-check-input:checked[type=checkbox] {
    background-image: url(../../assets/media/imgs/check.svg);
  }
  

  .form-check-input {
    height: 15px;
    width: 15px;
    margin-right: 10px;
  }
  
  .h-25px {
    height: 25px;
  }
  
  /*  custom button */
  .upload-btn-wrapper,
  .upload-btn-wrapper-row {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  
  .upload-btn-wrapper input[type=file],
  .upload-btn-wrapper-row input[type=file] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  
  .upload-btn-wrapper label {
    padding: 0 1rem;
    margin: 0;
    margin-bottom: 10px;
  }
  
  .upload-btn-wrapper p {
    text-align: center;
    line-height: 1;
  }
  
  /* form */
  .form-add-course {
    min-height: 687px;
    padding: 1.5em;
    margin: 2rem 0;
  }
  

  
  /* .education form input[type='text']
  {
    height: 40px;
  } */
  /* .education form .textarea-edu
  {
    height: 150px !important;
  } */
.textarea-edu-cert {
    height: 242px !important;
  }
  

  .upload-btn-wrapper,
  .upload-btn-wrapper-row {
    background: #fff;
    border: 1px dashed #707070;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 136px;
  }
  
  .upload-btn-wrapper-row {
    flex-direction: row !important;
    height: 40px;
  }
  
  .upload-btn-wrapper-row img {
    height: 22px;
  }
  
  /* add course */
  .list-group {
    background: #F3F2F7;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
  }
  
  .list-group-item {

    padding: 1rem;
  }
  
  .pr-0 {
    padding-right: 0 !important;
  }
  
  .pl-0 {
    padding-left: 0 !important;
  }
  
  #addExam .active {
  }
  
  #addExam i {
    margin: 6px;
  }
  

  
  /* edit video */
  .position {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  select:focus {
  }
  
  .btn-file:hover {
  }
  
  #handle_question {
    display: none;
  }
  
  .group-check-input {
    height: 40px !important;
  }
  
  .container-check {
    border: none;
    padding-right: 0px !important;
  }
  
  .container-delete {
    border: none;
  }.textarea-edu {
    height: 150px !important;
}
  
  .container-delete i {
    font-size: 11px;
    padding: 8px;
  }
  
  .group-check-input .form-control {
    border: none;
    height: 100% !important;
  }
  
  
  
  /* modal */
  .modal-dialog .close {
    border: none;
    font-size: 2rem;
    border-radius: 10px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-dialog .colse-footer {
    border: 1px solid #29A4D2 !important;
  }
  .container-img img,
  .container-img video
  {
    width: 100%;
    height: 250px;
    object-fit: contain;
    padding: 10px;
  }
  .create-edu .modal-dialog
  {
    max-width: 1300px !important;
  }
  .cancel
  {
    height: 40px;
  }

  .cancel i 
  {
    padding: 8px;
  }
  #add-box .p-3
  {
    padding: 0 1rem !important;
    display: flex;
    align-items: center;
    height: 40px;
  }
  .upload
  {
    height: 80px;
  }
  .m-t-2
  {
    margin-top: 2.2rem;
  }



.left-side > div > div{
    margin-bottom: 20px !important;
}

.save-btn,
.delete-btn,
.handle-btn,
.export-btn,
.gray-btn,
.create-btn,
.go-back-btn {
  background: #29D26D;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 6px;
  padding: .5rem 3rem;
  height: 35px;
  color: #fff;
  margin-right: 15px;
}

.delete-btn {
  border: 1px solid #F31937;
  padding: .5rem 1.5rem;
  background-color: #F31937;
}